body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: beige;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    margin: 40px;
    word-wrap: break-word;
    word-break: break-all;
}

.box {
    box-shadow: -1px 10px 75px -30px rgba(0,0,0,0.75);
    padding: 25px;
    border-radius: 10px;
}

.profile-id {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.daniel {
    background-color: hsl(263, 55%, 52%);
    grid-area: 1/1/2/3;
}

.daniel-profile {
    display: flex;
    margin-bottom: 20px;
}

.daniel-profile img {
    border-radius: 50%;
    border: 1px solid hsl(263, 55%, 52%);
    width: 32px;
    height: 32px;
}

.position {
    color: rgb(189, 189, 189);
}

.daniel-title {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.daniel-description {
    color: rgb(189, 189, 189);
    line-height: 1.8;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    grid-area: 1/3/2/4;
}

.jonathan-profile {
    display: flex;
    margin-bottom: 20px;
}

.jonathan-profile img {
    border-radius: 50%;
    border: 1px solid hsl(263, 55%, 52%);
    width: 32px;
    height: 32px;
}

.jonathan-title {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.jonathan-description {
    color: rgb(189, 189, 189);
    line-height: 1.8;
}

.jeanette {
    background-color: hsl(0, 0%, 100%);
    grid-area: 2/1/3/2;
}

.jeanette-profile {
    display: flex;
    margin-bottom: 20px;
}

.jeanette-profile img {
    border-radius: 50%;
    border: 1px solid hsl(263, 55%, 52%);
    width: 32px;
    height: 32px;
}

.jeanette-title {
    font-size: 16px;
    line-height: 1.5;
}

.jeanette-description {
    line-height: 1.8;
    color: grey;
}


.patrick {
    background-color: hsl(219, 29%, 14%);
    grid-area: 2/2/3/4;
}

.patrick-profile {
    display: flex;
    margin-bottom: 20px;
}

.patrick-profile img {
    border-radius: 50%;
    border: 1px solid hsl(263, 55%, 52%);
    width: 32px;
    height: 32px;
}

.patrick-title {
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.patrick-description {
    line-height: 1.8;
    color: grey;
}

.name {
    color: white;
}

.kira {
    background-color: hsl(0, 0%, 100%);
    grid-area: 1/4/3/5;
}

.kira-profile {
    display: flex;
    margin-bottom: 20px;
}

.kira-profile img {
    border-radius: 50%;
    border: 1px solid hsl(263, 55%, 52%);
    width: 32px;
    height: 32px;
}

.kira-title {
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

.kira-description {
    line-height: 1.8;
    color: grey;
}

.attribution {
    text-align: center;
    margin-top: 20px;
}



@media (max-width: 550px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(autofill, minmax(500px, 5));
        gap: 30px;
        margin: 30px;
    }

    .daniel {
        grid-area: 1/1/3/5;
    }

    .jonathan {
        grid-area: 3/1/4/5;
    }

    .jeanette {
        grid-area: 4/1/5/5;
    }

    .patrick {
        grid-area: 5/1/7/5;
    }

    .kira {
        grid-area: 7/1/9/5;
    }

}